[ req ]
default_bits					= 2048
distinguished_name				= req_distinguished_name
req_extensions					= req_ext

[ req_distinguished_name ]
countryName						= Country Name (2 letter code)
countryName_default				= AU
stateOrProvinceName				= State or Province Name (full name)
stateOrProvinceName_default		= Queensland
localityName					= Locality Name (eg, city)
localityName_default			= Brisbane
organizationName				= Organization Name
organizationalUnitName			= Organizational Department
emailAddress					= Email Address
commonName						= Common Name (e.g. server FQDN or YOUR name)
commonName_max					= 64

[ req_ext ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth,serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1   = svr1.exmaple.com
DNS.2   = svr2.exmaple.com