[ req ]
default_bits             = 2048
distinguished_name       = req_dn
req_extensions           = req_ext
prompt                   = no

[ req_dn ]
countryName              = US 				
stateOrProvinceName      = Fakestate					  			
localityName             = Fakeville								
organizationName         = ACME							
organizationalUnitName   = Marketing						
emailAddress             = admin@acme.org						
commonName               = servervip.acme.org		

[ req_ext ]
basicConstraints         = CA:FALSE
keyUsage                 = digitalSignature, keyEncipherment
extendedKeyUsage         = clientAuth,serverAuth,digitalSignature
subjectAltName           = @alt_names

[alt_names]
DNS.1                    = servervip.acme.org
DNS.2                    = server1.acme.org
DNS.3                    = server2.acme.org
